.container{
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 200px 200px 800px 200px;
}
header{
	text-align: center;
	background-color: red;
}
nav{
	background-color: grey;
}
main{
	background-color: blue;
}
footer{
	background-color: yellow;
}